[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0.11"
pymysql = "*"
pillow = "*"
nose = "*"
django-nose = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python manage.py runserver 0:8000"
test = "python manage.py test ginstagram.tests"
lint = "flake8 ."
